@charset "utf-8";
/*
Template Name: Viral
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Layout CSS
*/

@import url("fontawesome-4.3.0.min.css");
@import url("framework.css");

h1
{
    overflow: scroll;
}

p
{
    overflow: scroll;
}

/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0{border-bottom:1px solid;}
.row1, .row1 a{}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}
.row6, .row6 a{}


/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:12px 0; font-size:12px;}

#topbar .fl_left{margin-top:4px;}
#topbar .fl_left .inline > li{margin-right:15px;}
#topbar .fl_left .inline > li i{margin:0 5px 0 0; line-height:normal;}

#topbar .faico li{margin:0;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{padding:30px 0 20px;}

#header #logo{}
#header #logo h1{margin:0; padding:0; text-transform:uppercase;}


/* PageIntro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:160px 0 80px;}

#pageintro .services article{margin:0;}
#pageintro .services .heading{font-size:16px; text-transform:uppercase;}
#pageintro .services i{border:1px solid;}
#pageintro .services footer{text-align:right;}


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */
.container .sidebar{}

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}


/* Info
--------------------------------------------------------------------------------------------------------------- */
#info{padding:80px 0;}

#info .services article{margin-bottom:35px; border:1px solid;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:50px 0;}

#footer .title{margin:0 0 30px 0; padding:0 0 8px 0; border-bottom:1px solid; font-size:16px; text-transform:uppercase;}

#footer .linklist li{margin-bottom:10px;}
#footer .linklist li:last-child{margin-bottom:0;}

#footer .smallfont{font-size:.8rem; margin:0;}

#footer input, #footer button{border:none;}
#footer input{display:block; width:100%; padding:8px;}
#footer button{padding:6px 12px 8px; font-weight:bold; text-transform:uppercase; cursor:pointer;}


/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
.faico a, #mainav *, #backtotop, .services i, #info .services li,  .overlay{transition:all .3s ease-in-out;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li:first-child::before, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family:"FontAwesome"; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:160px; text-align:left; text-transform:none;}
#mainav ul ul ul{left:160px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 18px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:0 0 6px 0; border-bottom:1px solid;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:10px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop:after, #mainav li li .drop:after{content:"\f0d7";}
#mainav .drop:after{top:5px; left:0;}
#mainav li li .drop:after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:50px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none;}
#breadcrumb li{display:inline-block; position:relative; margin:0 6px 0 0; padding:0; font-size:12px;}
#breadcrumb li:first-child{padding-left:15px;}
#breadcrumb li:first-child::before{top:3px; left:0; content:"\f015"}
#breadcrumb li:last-child{display:block; margin:10px 0 0 0; padding:0; text-transform:capitalize; font-size:1.6rem;}
#breadcrumb li a{position:relative; margin:0; padding:0 12px 0 0;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:9px; left:5px; content:"\f101";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; float:left; margin:0 2px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:inline-block; width:30px; height:30px; line-height:30px; font-size:16px; text-align:center;}
.faico a{color:#FFFFFF; background-color:#F3F3F3;}

.faicon-dribble:hover{background-color:#EA4C89;}
.faicon-facebook:hover{background-color:#3B5998;}
.faicon-google-plus:hover{background-color:#DB4A39;}
.faicon-linkedin:hover{background-color:#0E76A8;}
.faicon-pinterest:hover{background-color:#C8232C;}
.faicon-rss:hover{background-color:#EE802F;}
.faicon-twitter:hover{background-color:#00ACEE;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#888888; background-color:#2E2E2E;}
a{color:#FF8D2C;}
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
.overlay{color:inherit; background-color:rgba(0,0,0,.65);}


/* Rows */
.row0, .row0 a{color:#888888; background-color:#FFFFFF;}
.row0{border-color:#D7D7D7;}
.row1, .row1 a{color:#888888; background-color:#FFFFFF;}
.row2{color:#FFFFFF; background-color:#161616;}
.row3{color:#888888; background-color:#FFFFFF;}
.row3 a{color:#EE6D00;}/* Darker Orange */
.row4{color:#FFFFFF; background-color:#FF8D2C;}
.row4 a{color:#9D4700;}/* Darker Orange */
.row5{color:#888888; background-color:#161616;}
.row6, .row6 a{color:#888888; background-color:#2F2F2F;}


/* Top Bar */
#topbar .faico a{color:inherit;}
#topbar .faico a:hover{color:#FFFFFF;}


/* PageIntro */
#pageintro .services .heading{color:#FFFFFF;}
#pageintro .services p{color:#888888;}
#pageintro .services a i{color:#CCCCCC; border-color:#333333;}
#pageintro .services li:hover a i{color:#FFFFFF; background-color:#FF8D2C; border-color:#FF8D2C;}
#pageintro .services li:hover .overlay{background-color:rgba(0,0,0,1);}


/* Info */
#info .services article{border-color:#FFFFFF;}
#info .services li:hover{color:#888888; background-color:#FFFFFF;}
#info .services li:hover article{border-color:#9D4700;}
#info .services li:hover a{color:#FF8D2C;}
#info .services li:hover a i{color:#FFFFFF; background-color:#FF8D2C;}


/* Footer */
#footer .title{color:#FFFFFF; border-color:#2F2F2F;}
#footer input{color:#FFFFFF; background-color:#2F2F2F;}
#footer button{color:#FFFFFF; background-color:#FF8D2C;}


/* Navigation */
#mainav li a{color:inherit; border-color:transparent;}
#mainav .active a{border-color:#EE6D00;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#EE6D00; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#FF8D2C;}
#mainav form select{border-color:#D7D7D7;}

#breadcrumb li, #breadcrumb a{color:#888888; background-color:inherit;}
#breadcrumb li:last-child a{color:#FFFFFF;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#FF8D2C;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#FF8D2C;}

#backtotop{color:#FFFFFF; background-color:#EE6D00;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}


/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:180px) and (max-width:750px) {
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin: auto 0; padding:0; }

	.last{margin-bottom:0;}

	#topbar{text-align:center;}
	#topbar .inline{margin-bottom:15px;}
	#topbar .faico li{float:none;}

	#header #logo{text-align:center; margin-bottom:15px;}

	#pageintro{padding:140px 0 50px;}
	.container{padding-bottom:50px;}
	#info{padding-bottom:50px;}
	#footer{padding-bottom:20px;}
}

@media screen and (min-width:180px) and (max-width:900px) {
	#topbar, #header, #pageintro, #breadcrumb, .container, #info, #footer, #copyright{max-width:90%;}

	#topbar{}

	#header{}

	#pageintro{}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#info{}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:978px) {
	#topbar, #header, #pageintro, #breadcrumb, .container, #info, #footer, #copyright{max-width:978px;}
}


/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px) {
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.xxl{font-size:40px;}
}